<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReBoard">

	<!-- 글 한 건 등록 -->
	<insert id="insert" parameterType="ReBoard">
		insert into reboard(title, writer, content) values(#{title}, #{writer}, #{content}) 
		
		<!-- insert 하자마자, 아래의 코드가 곧바로 수행된다. -->
		<selectKey order="AFTER" resultType="int" keyProperty="reboard_id">
			select last_insert_id()
		</selectKey>
	</insert>
	
	<update id="updateTeam" parameterType="ReBoard">
		update reboard set team=#{team} where reboard_id=#{reboard_id}
	</update>
	
	<!-- 게시글 전체 조회 -->
	<select id="selectAll" resultType="ReBoard">
		select * from reboard order by team desc, step asc
	</select>
	
	<!-- 게시글 한 건 조회 -->
	<select id="select" parameterType="int" resultType="ReBoard">
		select * from reboard where reboard_id=#{reboard_id}
	</select>
	
	<!-- 답변 달기 (들어갈 자리 마련)-->
	<update id="updateStep" parameterType="ReBoard">
		<![CDATA[
			update reboard set step=step+1 where step>#{step} and team=#{team}
		]]>
	</update>
	<insert id="reply">
		insert into reboard(title, writer, content, team, step, depth) 
		values(#{title}, #{writer}, #{content}, #{team}, #{step}+1, #{depth}+1)
	</insert>
</mapper>